
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
  
}

img{
    max-width: 100%;
    height: auto;
}
.logo{
    width: 100px;
    margin-top: 10px;
    margin: auto;
}
.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.png");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .fa-brands{
    color: blue;
  }
  .fa-brands:hover{
    color: blueviolet;
  }
  #textboxid
{
    height:200px;
    font-size:14pt;
}


#btmlogo{
height: 150px;
width: 150px;;
}
.fa:hover {
    opacity: 0.7;
}
.fa{
    color: azure;
}
